db.jdbcurl.12345678=jdbc:mysql://yourdbserver:3306/yourbankdb?characterEncoding=ISO-8859-1
db.user.12345678=dbuser
db.password.12345678=dbpassword

db.jdbcurl.23456789=jdbc:mysql://anotherdbserver:3306/anotherbankdb?characterEncoding=ISO-8859-1
db.user.23456789=otherdbuser
db.password.23456789=otherdbpassword

db.driverclass=com.mysql.jdbc.Driver

db.pool.initialsize=1
db.pool.maxactive=30
db.pool.testonborrow=true
db.pool.validationquery=SELECT 1
db.pool.maxwait=30000
